{% extends 'base.html' %}
 {% block title %} Create New Category {% endblock %}


{% block content %}

{% if user.is_authenticated %}
<h1>Add Category</h1>
{% if user.profile.id %}

<div class="form-group">
<form method="POST">
	{% csrf_token %}
	{{ form.as_p }}
	<button class="btn btn-dark">Submit</button>
	
</div>
{% else %}
<div class="alert alert-warning" role="alert">
		   You have to create your profile First!

		</div>
 {% endif %}

{% else %}

you are not allowed here

{% endif %}



{% endblock %}
