
{% extends 'base.html' %}
 {% block title %} {{ post.title }} {% endblock %}


{% block content %}


<h1>{{ post.title }}</h1>
<small>By: {{ post.author.first_name }} {{ post.author.last_name }} - {{post.post_date}} 
	{% if user.is_authenticated %}

		{% if user.id == post.author.id %}

	- <a href="{% url 'update_post' post.pk %}">Edit</a> <a href="{% url 'delete_post' post.pk %}">Delete</a></small>
	{% endif %}


{% else %}


{% endif %}
<br>
<hr>
<br>
{% if post.header_image %}
<img src="{{post.header_image.url}}" width="700" height="300">
{% endif %}
{{ post.body|safe }}

<br>
<a href="{% url 'home' %}" class="btn btn-dark">Back</a>

<br>
<br>
<hr>
<br>

<form action="{% url 'like_post' post.pk %}" method="POST">
	{% csrf_token %}

	{% if user.is_authenticated %}
	{% if liked %}
	<button type="submit", name="post_id", value="{{post.id}}", class="btn btn-danger btn-sm">UNLIKE</button> 

	{% else %}
	<button type="submit", name="post_id", value="{{post.id}}", class="btn btn-info btn-sm">LIKE</button> 

	{% endif %}

	{% else %}

	<small>LOGIN TO LIKE</small> 

	{% endif %}

	<small>{{total_likes}} likes</small>
	
</form>


{% endblock %}
