{% extends 'base.html' %}
 {% block title %} Delete Post {% endblock %}


{% block content %}
{% if user.is_authenticated %}

	{% if user.id == post.author.id %}


<h1>Delete {{ post.title }}</h1>
<br>
	<br>
<div class="form-group">
<form method="POST">
	{% csrf_token %}
	
	<div class="alert alert-warning" role="alert">
		  ARE YOU SURE?
		</div>
	<br>
	<button class="btn btn-danger">Delete</button>
	
</div>

{% else %}
		you are not allowed here
	{% endif %}


{% else %}

you are not allowed here

{% endif %}



{% endblock %}
