{% extends 'base.html' %}


{% block content %}
<h1>Post</h1>

<ul>
	{% for post in object_list %}
	<li><a href="{% url 'article_detail' post.pk %}">{{ post.title }}</a> - <small><a href="{% url 'category' post.category %}">{{post.category}}</a></small> - {{ post.author }} - <small>{{post.post_date}}</small> 
        {% if user.is_authenticated %}
		- <small><a href="{% url 'update_post' post.pk %}">Edit</a></small>
		<small><a href="{% url 'delete_post' post.pk %}">Delete</a></small>
		{% endif %}
	<br>
		{{ post.body }}
	{{post.body|slice:":100"}}	
	</li>
	
	{% endfor %}
			
</ul>

    {% endblock %}
